In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [8]:
data_path = "/Users/hassanalawie/desktop/Chap3/ExerciseFiles/data"

In [10]:
file_path= data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header","true").load(file_path)

In [11]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [14]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [22]:
file_path_no_header = data_path + '/utilization.csv'
df2 = spark.read.format("csv").option("header","false").option("inferSchema", "true").load(file_path_no_header)

In [23]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [25]:
df2 = df2.withColumnRenamed("_c0","event_datetime") \
         .withColumnRenamed("_c1","server_id") \
          .withColumnRenamed("_c2","cpu_utilization") \
        .withColumnRenamed("_c3","free_memory") \
        .withColumnRenamed("_c4","session_count")

In [26]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

In [29]:
df2.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 08:06:14|      100|           0.57|       0.51|           47|
|03/05/2019 08:11:14|      100|           0.47|       0.62|           43|
|03/05/2019 08:16:14|      100|           0.56|       0.57|           62|
|03/05/2019 08:21:14|      100|           0.57|       0.56|           50|
|03/05/2019 08:26:14|      100|           0.35|       0.46|           43|
|03/05/2019 08:31:14|      100|           0.41|       0.58|           48|
|03/05/2019 08:36:14|      100|           0.57|       0.35|           58|
|03/05/2019 08:41:14|      100|           0.41|        0.4|           58|
|03/05/2019 08:46:14|      100|           0.53|       0.35|           62|
|03/05/2019 08:51:14|      100|           0.51|        0.6|           45|
|03/05/2019 08:56:14|      100|           0.32|       0.37|           47|
|03/05/2019 09:01:14|      100|           0.62|       0.59|           60|
|03/05/2019 09:06:14|      100|           0.66|       0.72|           57|
|03/05/2019 09:11:14|      100|           0.54|       0.54|           44|
|03/05/2019 09:16:14|      100|           0.29|        0.4|           47|
|03/05/2019 09:21:14|      100|           0.43|       0.68|           66|
|03/05/2019 09:26:14|      100|           0.49|       0.66|           65|
|03/05/2019 09:31:14|      100|           0.64|       0.55|           66|
|03/05/2019 09:36:14|      100|           0.42|        0.6|           42|
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [31]:
df2.columns

['event_datetime',
 'server_id',
 'cpu_utilization',
 'free_memory',
 'session_count']

In [33]:
df2_sample = df2.sample(False, fraction=0.1)

In [34]:
df2_sample.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
|03/05/2019 11:01:14|      100|           0.32|       0.56|           53|
|03/05/2019 11:51:14|      100|           0.52|       0.68|           41|
|03/05/2019 12:01:14|      100|           0.46|       0.34|           67|
|03/05/2019 12:56:14|      100|           0.48|       0.38|           44|
|03/05/2019 14:06:14|      100|           0.33|       0.53|           44|
|03/05/2019 15:16:14|      100|           0.37|       0.53|           62|
|03/05/2019 15:41:14|      100|           0.34|       0.46|           62|
|03/05/2019 15:46:14|      100|            0.6|       0.56|           38|
|03/05/2019 16:51:14|      100|           0.66|       0.35|           64|
|03/05/2019 17:56:14|      100|           0.33|       0.71|           43|
|03/05/2019 18:16:14|      100|           0.67|       0.59|           44|
|03/05/2019 19:01:14|      100|           0.61|       0.45|           38|
|03/05/2019 20:11:14|      100|           0.39|       0.41|           70|
|03/05/2019 22:56:14|      100|            0.6|       0.51|           44|
|03/06/2019 00:36:14|      100|           0.59|       0.39|           62|
|03/06/2019 01:01:14|      100|           0.63|       0.58|           59|
|03/06/2019 01:16:14|      100|           0.53|       0.66|           66|
|03/06/2019 02:11:14|      100|           0.51|       0.67|           65|
|03/06/2019 03:46:14|      100|           0.38|       0.52|           45|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [35]:
df2_sort = df2_sample.sort('event_datetime')

In [36]:
df2_sample.show()

+-------------------+---------+---------------+-----------+-------------+
|     event_datetime|server_id|cpu_utilization|free_memory|session_count|
+-------------------+---------+---------------+-----------+-------------+
|03/05/2019 09:41:14|      100|           0.55|       0.59|           63|
|03/05/2019 11:01:14|      100|           0.32|       0.56|           53|
|03/05/2019 11:51:14|      100|           0.52|       0.68|           41|
|03/05/2019 12:01:14|      100|           0.46|       0.34|           67|
|03/05/2019 12:56:14|      100|           0.48|       0.38|           44|
|03/05/2019 14:06:14|      100|           0.33|       0.53|           44|
|03/05/2019 15:16:14|      100|           0.37|       0.53|           62|
|03/05/2019 15:41:14|      100|           0.34|       0.46|           62|
|03/05/2019 15:46:14|      100|            0.6|       0.56|           38|
|03/05/2019 16:51:14|      100|           0.66|       0.35|           64|
|03/05/2019 17:56:14|      100|           0.33|       0.71|           43|
|03/05/2019 18:16:14|      100|           0.67|       0.59|           44|
|03/05/2019 19:01:14|      100|           0.61|       0.45|           38|
|03/05/2019 20:11:14|      100|           0.39|       0.41|           70|
|03/05/2019 22:56:14|      100|            0.6|       0.51|           44|
|03/06/2019 00:36:14|      100|           0.59|       0.39|           62|
|03/06/2019 01:01:14|      100|           0.63|       0.58|           59|
|03/06/2019 01:16:14|      100|           0.53|       0.66|           66|
|03/06/2019 02:11:14|      100|           0.51|       0.67|           65|
|03/06/2019 03:46:14|      100|           0.38|       0.52|           45|
+-------------------+---------+---------------+-----------+-------------+
only showing top 20 rows

In [42]:
df1.filter(df1["location_id"]=="loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [44]:
df1.filter(df1["location_id"]=="loc1").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc1|          31|
|03/04/2019 19:53:06|       loc1|          26|
|03/04/2019 19:58:06|       loc1|          31|
|03/04/2019 20:03:06|       loc1|          26|
|03/04/2019 20:08:06|       loc1|          28|
|03/04/2019 20:13:06|       loc1|          27|
|03/04/2019 20:18:06|       loc1|          30|
|03/04/2019 20:23:06|       loc1|          28|
|03/04/2019 20:28:06|       loc1|          28|
|03/04/2019 20:33:06|       loc1|          27|
|03/04/2019 20:38:06|       loc1|          30|
|03/04/2019 20:43:06|       loc1|          32|
|03/04/2019 20:48:06|       loc1|          26|
|03/04/2019 20:53:06|       loc1|          30|
|03/04/2019 20:58:06|       loc1|          26|
|03/04/2019 21:03:06|       loc1|          28|
|03/04/2019 21:08:06|       loc1|          27|
|03/04/2019 21:13:06|       loc1|          28|
|03/04/2019 21:18:06|       loc1|          27|
|03/04/2019 21:23:06|       loc1|          26|
+-------------------+-----------+------------+
only showing top 20 rows

In [45]:
df1.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|     loc351| 1000|
|     loc370| 1000|
|     loc419| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
+-----------+-----+
only showing top 20 rows